#map {
    margin-left: 20px;
    height: 40%;
    width: 40%;
    margin: 0 auto;
  }
  
  
  html,
  body {
    height: 100%;
  }
  
  .custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
    
  }
  .custom-map-control-button:hover {
    background: rgb(235, 235, 235);
  }
  
  
  
  
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
  }
  
  legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  h3 {
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  
  div input[type="submit"] {
    margin: 0 auto;
  }